*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
/* add font */
}
header{
    background-color: rgb(210, 210, 210);
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 14px;
}
header nav ul li{
    display: inline;
    margin-left: 40px;
    
}
header nav ul li a{
  color: black;
  text-decoration:none;
}
.first{
background-color: rgb(244, 244, 244);
text-align: center;
font-size: 23px;
height: auto;
justify-content: center;
padding: 50px;
}
.first a, .second a, .third a, .fourth a{
    border: 2px solid rgb(9,126,243);
    border-radius: 30px;
    padding: 8px;
    margin: 10px;
    text-decoration: none;
    color: rgb(7, 104, 200);
    
}
.second{
background-color: rgb(244, 244, 244);
text-align: center;
font-size: 23px;
justify-content: center;
padding: 50px;
margin-top: 10px;
height: auto;
}
nav p{
  background-color: rgb(225, 227, 229);
  
}
a:hover{
  background-color: rgb(9, 126, 243);
  color: rgb(247, 246, 246);
  
}
a{
  color:rgb(9, 126, 243);
  text-decoration: none;
}
.laptop{
  height: 400px;
  width: 500px;
}
nav{
  text-align: center;
  height: auto;
}
.third{
background-color: rgb(0, 0, 0);
text-align: center;
font-size: 23px;
justify-content: center;
padding: 50px;
margin-top: 10px;
color: white;
height: auto;
}
.box{
text-align: center;
font-size: 23px;
justify-content: center;
padding: 50px;
  width: 49%;
  background-color: black;
  color: white;
  height: auto;
  margin-top: 10px;
  margin: 6px;
}
.boxes{
 text-align: center;
 font-size: 23px;
 justify-content: center;
 padding: 50px;
 width: 49%;
 background-color: rgb(240, 240, 240, 0.743);
 color: rgb(11, 11, 11);
 height: auto;
 margin-top: 10px;
 margin: 6px;
}

.size{
  height: 300px;
  width: 300px;
}
.fourth{
  display: flex;
  margin: 10px;
  height: auto;
}
.box h7{
  color: red
}
.item{
  height: auto;
  color: rgb(44, 24, 24);
  justify-content: center;
  align-items: center;
  display: flex;
}
.owl-carousel .owl-theme{
  display: flex;
  height:auto;
  max-width: 100%;
}
.movies{
  height: auto;
  max-width: 100%;
}
.slider{

  height: 40vh;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track{
  display: flex;
  width: calc(250px*18);
  animation: scroll 40s linear infinite;
}
.slide-track :hover{
  animation-play-state: paused;
}

@keyframes scroll{
  0% {
    transform:translateX(0);
  }
    100%{
      transform:translateX(calc(-250px*9));
      
    }
  
}
.slide{
  height: 250px;
  width: 250px;
  display: flex;
  padding: 15px;
  perspective:100px;
}
img{
  width: 100%;
}
img:hover{
  transform: translateZ(20px);
}
footer {
  background-color: #f2f2f2;
  font-family: calibri;
  padding: 0 22px;
  padding-bottom: 21px;
  overflow: hidden;
}

.footer-content {
  max-width: 980px;
  margin: 0 auto;
}

.footer-menu {
  padding-top: 21px;
  overflow: hidden;
}

.footer-col {
  width: 20%;
  float: left;
}

input[type="checkbox"] {
    display: none;
}

h3 {
    color: #333;
    font-size: 14px;
    position: relative;
    z-index: 1;
    background: #f2f2f2;
    margin-bottom: 6px;
    margin-top: 0;
}

.product-list {
    padding: 0;
    list-style: none;
    margin: 0;
}

.product-list li {
  margin-bottom: 5px;
  line-height: 1;
}

.product-list a {
  color: #555;
  display: inline-block;
  font-size: 12px;
}

.product-list a:hover {
  color: #333;
}

input[type="checkbox"]:checked+.col-section .product-list {
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    visibility: visible;
    position: static;
    transform: none;
}

input[type="checkbox"]:checked+.col-section h3::after {
    transform: rotate(45deg) scale(1.08);
}

.footer-base {
  padding-top: 34px;
  padding-bottom: 21px;
  color: #888;
  font-size: 12px; 
}

.footer-more-ways {
  margin-bottom: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
}

.nowrap {
    white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  
  footer {
    padding: 0 16px;
    padding-bottom: 21px;
  }
  
  .footer-col {
    width: 100%;
  }
  
  .item {
    border-bottom: 1px solid #d6d6d6;
  }
  
  h3 {
    padding: 10px 0;
    margin: 0;
    cursor: pointer;
  }
  
  h3::after {
    content: '+';
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin-top: -2px;
    margin-right: 8px;
    transition: transform .3s ease
  }
  
  .product-list {
    visibility: hidden;
    position: absolute;
    transform: translateY(-100px);
    z-index: 1;
    padding: 5px 0 16px 0;
  }
  
  .product-list li {
    margin: 0;
  }
  
  .product-list a {
    display: block;
    padding: 6px 14px;
  }
  
  .footer-col {
    overflow: hidden;
  }
}

@media only screen and (min-width: 767px) {
  .item-padding-top {
    padding-top: 24px;
  }
}

.footer-legal-copyright {
    margin-right: 30px;
    float: left;
    margin-top: 3px;
}

.footer-legal-links {
  float: left;
}

.footer-legal-links a {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  padding-right: 12px;
  display: inline-block;
  margin-top: 3px;
  white-space: nowrap;
  color: #555;
}

.footer-legal-links a:last-child {
  border-right: none;
}

.footer-legal-links a:hover {
  color: #333;
}
