@media only screen and (max-width:1335px) {
   
    
  }
  @media only screen and (max-width:1199px) {
   
    
  }
  @media only screen and (max-width:657px) {
    .fourth{
        display: block;
        margin: none;
        padding: none;
     
      }
      .boxes{
        width: auto;
        margin: none;
      }
      .first a, .second a, .third a, .fourth a{
        display: inline-block;
      }
      .box{
        width: auto;
        margin: none;
      }
      .laptop, .size{
        max-width: 100%;
        height: auto;
      }
      header nav{
        display: none;
      }
  }
